nav.navbar {
  background-color: #5b8767 !important;
  padding: 1rem;
  font-family: "fonts/Zen_Antique/ZenAntique-Regular.ttf";
}
html {
  height: 100%;
}
nav.navbar a {
  color: white !important;
}

nav.navbar button {
  color: white !important;
  border-color: white !important;
}

html {
  height: 100% !important;
}
section {
  min-height: 100%;
}

div {
  min-height: 100%;
}
div.container {
  padding: 2rem;
}

h3 {
  margin-bottom: 2rem;
}
small.img-ref {
  padding-left: 0.5rem;
}

small a {
  text-decoration: none;
  color: grey;
}

small a:hover {
  color: grey;
}

iframe {
  width: 80%;
  height: 80%;
}
a.link {
  color: grey;
  text-decoration: none;
}

div.col-lg-8 li {
  padding: 0.5rem;
}
